# Ignore MySQL data directory
mysql/data/db/

# Ignore other temporary files or directories
*.log
*.pid
*.sock
*.env

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore environment configuration files
.env
