<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRiP TRAIL</title>
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p:400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
  <header class="page-header wrapper">
    <h1>
      <a href="/index"><img class="logo" src="/static/img/trip_trail_logo.jpg" alt=""></a>
    </h1>
    <nav>
      <ul class="main-nav">
        <li><a href="/user_info_edit">setting</a></li>
        <li><a href="/login">logout</a></li>
      </ul>
    </nav>
  </header>
  <div class="align-center">
      <a class="btn1" href="/itinerary_create">旅行計画を新規作成</a>
  </div>
  <a href="/itinerary_edit">修正</a>
  <div class="list">
    <div class="card" id="1">
      <p>2024年7月21日</p>
      <p>ディズニーランド</p>
      <p>所要時間：2時間30分</p>
    </div>
    <div class="card" id="2">
      <p>2024年7月31日</p>
      <p>名古屋港水族館</p>
      <p>所要時間：3時間0分</p>
    </div>
    <div class="card" id="3">
      <p>2024年8月6日</p>
      <p>アンデルセン公園</p>
      <p>所要時間：1時間30分</p>
    </div>
    <div class="card" id="4">
      <p>2024年8月31日</p>
      <p>東京ドームシティ</p>
      <p>所要時間：0時間50分</p>
    </div>
  </div>
</body>
</html>
