<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRiP TRAIL</title>
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p:400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
  <header class="page-header wrapper">
    <h1>
      <a href="index.html"><img class="logo" src="../img/trip_trail_logo.jpg" alt=""></a>
    </h1>
    <nav>
      <ul class="main-nav">
        <li><a href="user_info_edit.html">setting</a></li>
        <li><a href="login.html">logout</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <div class="form-box">
      <p class="form-title">予定の修正</p>
      <form class="form-items" action="index.html"  method="PATCH" id="form">
      <dev class="form-item">
        <p>日付</p>
        <input type="text" class="form" name="date" placeholder="2024年8月31日">
      </dev>
      <dev class="form-item">
        <p>目的地</p>
        <input type="text" class="form" name="destination_name" placeholder="東京ドームシティ">
      </dev>
      <dev class="form-item">  
        <p>目的地（住所）</p>
        <input type="text" class="form" name=" destinetion_address" placeholder="東京都文京区後楽1―3―61">
      </dev>  
      <div class="btn-align">
          <button type="button" class="btn2" onclick="history.back()">戻る</button>
          <input type="submit" class="btn1" value="修正">
      </div>
      </form>
    </div>  
  </div>
</body>

</html>