{% extends 'base.html' %}
  {% block title %}TRiP TRAIL - 行程{% endblock %}
  {% block contents %}
  <div class="page-wrapper map">
    <header class="page-header map">
      <nav>
        <ul class="main-nav">
          <li><a href="/user_edit"><span class="material-symbols-outlined">
            settings
            </span>setting</a>
          </li>
          <li>
            <form action="/logout" method="POST" style="display: inline;">
                <button type="submit" style="background: none; border: none; color: inherit; font: inherit; cursor: pointer;">
                    <span class="material-symbols-outlined">logout</span>logout
                </button>
            </form>
          </li>
        </ul>
      </nav>
    </header>
    <main class="map-container">
      <div class="map-header">
        <div class="map-header-navi">
          <p>googlemapにて経路を表示</p>
          <p>{{ request.time }}位の予測です！</p>
        </div>
        <button type="button" class="btn2" onclick='location.href="/index"'>戻る</button>
      </div>
      <div id="map" class="map-viewer"></div>
      <p class="map-copyright">copyright: {{ request.copyrights }}</p>
    </main>
  </div>

  <script>
    const proxyUrl = "{{ request.proxy_url }}";
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=proxyUrl+e.toString();d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
      v: "weekly",
    });
    
    async function initMap() {
      const { Map } = await google.maps.importLibrary("maps");
      const { Geometry } = await google.maps.importLibrary("geometry");
      const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
      const map = new Map(document.getElementById("map"), {
        center: { lat: 35.5, lng: 140 },
        zoom: 10,
        mapId: "MAP_ID"
      });
      const encodedPolyline = "{{ request.polyline }}";
      const decodedPath = google.maps.geometry.encoding.decodePath(encodedPolyline);

      const polyline = new google.maps.Polyline({
        path: decodedPath,
        geodesic: true,
        strokeColor: "blue",
        strokeOpacity: 1.0,
        strokeWeight: 4,
      });
      polyline.setMap(map);

      const bounds = new google.maps.LatLngBounds();
      decodedPath.forEach((latLng) => {
        bounds.extend(latLng);
      });
      map.fitBounds(bounds);

      const start = JSON.parse('{{ request.start|tojson }}');
      const end = JSON.parse('{{ request.end|tojson }}');
      const startMarker = new google.maps.marker.AdvancedMarkerElement(
        {
          position: new google.maps.LatLng(start.lat, start.lng),
          map: map,
          title: "Start"
        }
      );
      const endMarker = new google.maps.marker.AdvancedMarkerElement(
        {
          position: new google.maps.LatLng(end.lat, end.lng),
          map: map,
          title: "End"
        }
      );
    }

    initMap();

  </script>
  {% endblock %}