{% extends 'base.html' %}
  {% block title %}TRiP TRAIL - 行程{% endblock %}
  {% block contents %}
  <div class="page-wrapper">
    <header class="page-header">
      <nav>
        <ul class="main-nav">
          <li><a href="/user_edit"><span class="material-symbols-outlined">
            settings
            </span>setting</a>
          </li>
          <li>
            <form action="/logout" method="POST" style="display: inline;">
                <button type="submit" style="background: none; border: none; color: inherit; font: inherit; cursor: pointer;">
                    <span class="material-symbols-outlined">logout</span>logout
                </button>
            </form>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div>googlemapの経路を表示</div>
      <div>所要時間{{}}</div>
      <button type="button" class="btn2" onclick='location.href="/index"'>戻る</button>
    </main>
  </div>
  {% endblock %}