{% extends 'base.html' %}
  {% block title %}TRiP TRAIL - ユーザー情報確認{% blockend %}
  {% block contents %}
  <div class="page-wrapper">
    <header class="page-header">
      <nav>
        <ul class="main-nav">
          <li><a href="/users/{user_id}"><span class="material-symbols-outlined">
            settings
            </span>setting</a></li>
          <li><a href="/logout"><span class="material-symbols-outlined">
            logout
            </span>logout</a></li>
        </ul>
     </nav>
    </header>
    <div class="login-signup">
      <p class="form-title">ユーザー情報確認</p>
      <form class="form-items" action="index.html"  method="post" id="form">
        <dev class="form-item">
          <label name="user_name">名前</label>
          <input type="text" class="form" name="user_name" value={{user.user_name}}>
        </dev>
        <dev class="form-item">
          <label name="email">メールアドレス</label>
          <input type="text" class="form" name="email" value={{user.email}}>
        </dev>
        <dev class="form-item">
          <label name="password">パスワード</label>
          <input type="password" class="form" name="password" value={{user.password}}>
        </dev>  
        <dev class="form-item">
          <label name="password2">パスワード（確認用）</label>
          <input type="password" class="form" name="password2">
        </dev>  
        <dev class="form-item">
          <label name="user_address">現住所</label>
          <input type="text" class="form" name="user_address" value={{user.user_address}}>
        </dev>  
        <div class="btn-align">
          <button type="button" class="btn2" onclick="history.back()">戻る</button>
          <input type="submit" class="btn1" value="変更する">
        </div>
      </form>
    </div>
    {% endblock %}  