@charset "utf-8";

/* 共通部分 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}
img {
  max-width: 100%;
}

/* 全体 */

body {
  background-color: #ffff80;
}

.page-wrapper {
  width: 100%;
  padding: 1.5rem;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* レイアウト */
.align-center {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 800px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-content: center;
}

/* ログイン、新規登録の配置 */
.login-signup-box {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  max-width: 1280px;
  display: flex;
  align-items: center;
}

.logo-align {
  text-align: center;
}

.logo-loginsignup {
  width: 65%;
  height: auto;
}

/* メイン画面のヘッダー */

.page-header {
  width: 100%;
}

.main-nav {
  display: flex;
  justify-content: right;
  gap: 2rem;
  font-size: 1.3rem;
  list-style: none;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.main-nav a {
  color: #432;
  /* border-bottom: #432 1px solid; */
}

.main-nav a:hover {
  color: #0bd;
}

.main-nav form{
  color: #432;
}

.main-nav form:hover {
  color: #0bd;
}

/* ボタン */
.btn1 {
  display: inline-block;
  font-size: 1rem;
  background-color: #ffcc4d;
  color: #c14f4f;
  border-radius: 48px;
  padding: 0.75rem 1.5rem;
  border-style: none;
}
.btn1:hover {
  background-color: #fdb705;
}

.btn2 {
  display: inline-block;
  font-size: 1rem;
  background-color: #0bd;
  color: #ffffff;
  border-radius: 48px;
  padding: 0.75rem 1.5rem;
  border-style: none;
}
.btn2:hover {
  background-color: #0090aa;
}
.btn-center {
  text-align: center;
  margin: 1rem;
}
.move {
  border-bottom: #432 1px solid;
  color: #432;
}
/* 付箋ぽいリスト */
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  font-size: 1.3rem;
  padding-top: 1.5rem;
  margin: 2rem;
  width: 600px;
}

.card {
  font-size: 1rem;
  background-color: #ffffff;
  color: #432;
  height: 100px;
  width: 100%;
  border-collapse: collapse;
}

.done {
  background-color: #c14f4f;
  border: none;
  width: 15%;
  height: auto;
  text-align: center;
}

.trip-date,
.destination {
  padding-top: 0.3rem;
  padding-left: 0.3rem;
  padding-bottom: 0.3rem;
  width: 65%;
  height: auto;
  text-align: left;
  border: none;
}

.route {
  text-align: center;
  width: 65%;
  height: auto;
  padding-bottom: 0.5rem;
}

.edit,
.delete {
  width: 20%;
  height: auto;
  text-align: center;
}

.route-btn {
  border-style: double;
  border-radius: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-color: dimgray;
}

/* 入力フォーム */
.login-signup-items {
  /* background-color: #ffffff; */
  /* flex: 2; */
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* background-color: cadetblue; */
}

.form-items {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* background-color: blueviolet; */
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.form-box {
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: auto;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin: auto;
}
.form-item input[type='text'],
[type='password'],
[type='date'] {
  background-color: #ffffff;
  appearance: none;
  width: 100%;
  max-width: auto;
  padding: 10px 20px 8px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1) inset;
  font-size: 16px;
}
.form-title {
  /* background-color: aquamarine; */
  font-size: 25px;
  font-weight: bold;
  color: brown;
  margin-bottom: 1rem;
  text-align: center;
}
.btn-align {
  /* background-color: chocolate; */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

/* スマホ等で表示したときの対応 */
@media (max-width: 800px) {
  /* ログイン・新規登録画面 */

  img.logo-loginsignup {
    max-width: 30%;
  }

  .logo-loginsignup {
    height: auto;
    text-align: center;
  }

  .login-signup-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list {
    max-width: 100%;
  }
  .card {
    max-height: 100%;
  }
}